.link-wrapper {
  margin: 30px auto;
}

.game-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 400px;
  height: 30vh;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid black;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.game-wrapper:hover {
  transform: scale(1.05);
  transition: ease-in 0.4s all;
  cursor: pointer;
}

.info-wrapper {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "title title";
  align-items: center;
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.title {
  grid-area: title;
  font-size: 30px;
  color: rgb(240, 239, 239);
  font-family: "Teko", sans-serif;
  text-shadow: -1px 2px 2px #292929, 1px 2px 2px #292929, 1px -2px 0 #292929,
    -1px -2px 0 #292929;
  letter-spacing: 0.1rem;
}

.info-wrapper p {
  font-size: 1.1rem;
}

.delete-btn {
  justify-self: flex-start;
  align-self: flex-end;
  margin: 5px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  color: #292929;
  text-shadow: 0px 0px 4px white;
}

.delete-btn:hover {
  color: rgb(197, 1, 1);
}

/* MEDIA QUERY */

@media only screen and (max-width: 480px) {
  .game-wrapper {
    width: 350px;
    height: 30vh;
  }

  .title {
    font-size: 1.5rem;
  }

  .info-wrapper p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .game-wrapper {
    width: 300px;
    height: 30vh;
  }
}
